h1 {
  color:hsl(129, 87%, 21%);
background-color: rgb(245, 128, 128);
  font-size:medium;

}
h1{
  background-color: blueviolet;
}


h1 {background-color: yellowgreen;}
p {
  font-family: fantasy;
}

#foo {
  color:cornflowerblue;
}

.bg-blue {
  background-color: blue;
}