.navbar {
  background-color: limegreen;
}

header{
  display: block;
  unicode-bidi: isolate;
}

/* overskrive default styling*/

body{
  margin: 0px;
}

body{background-color:blueviolet}

body{
  background-image: url(3dRender\ pastel.avif);
background-size: cover;}

#foo {
  font-family: Arial, Helvetica, sans-serif;
}
header {
  border-style: double;
}

#potet {
  display: flex;
  justify-content: center;
}

#eple { 
  display: flex;
  justify-content: flex-end;
}

body {font-family: fantasy;}

#vann {
  display: flex;
  align-items: baseline;
}

#kake {display: flex;
  justify-content: center;
}

.bg-blue {background-color: blue;}


.flue {
  display: flex;
  justify-content: center;
  background-image: url(3dRender\ pastel.avif);
  color: green;
}